main {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
  margin: 0;
  background-color: azure;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

main header {
  display: flex;
  justify-content: space-between;
}
main section {
  background-color: beige;
  flex-grow: 1;
}
main footer {
  margin: 0;
}
