main {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
  margin: 0;
  background-color: pink;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

main header {
  display: flex;
  justify-content: space-between;
}
main section {
  background-color: beige;
  flex-grow: 1;

  article {
    background-color: white;
  }
  aside div {
    background-color: aqua;
    border-bottom: 0.1rem solid white;
  }
  aside div:last-child {
    border-bottom: none;
  }
}
main footer {
  margin: 0;
}
